@page "/race/{RaceName}"
@using Model.Entities
@using Domain.Repositories.Interfaces
@inject IRaceRepository _raceRepository;

<h3>@RaceName</h3>

<DataInitializer Data="Race">
    <ChildComponent>
        <p>@Race.Description</p>
        <p><b>Speed: </b>@Race.Speed</p>
        <p><b>Size: </b>@Race.Size</p>
        <hr/>
        <h4>Traits</h4><br/>
        @foreach (var trait in Race.Traits) {
            <h6><b>@trait.Label</b></h6>
            <p>@trait.Description</p>
        }
        @if (Race.InverseParentRace.Count > 0) {
            <h4></h4>
        }
    </ChildComponent>
</DataInitializer>

@code {
    [Parameter]
    public string RaceName { get; set; }
    
    public Race Race { get; set; }

    protected override async Task OnParametersSetAsync() {
        Race = await _raceRepository.ReadGraphAsync(RaceName);
    }
    
    
}