@page "/CharacterSheet/{CharacterId}"
@using Model.Entities
@using Domain.Repositories.Interfaces
@inject IRepository<Character> _characterRepository

<h3>CharacterSheet</h3>

<DataInitializer Data="Character">
<ChildComponent>
<div class="charsheet">
<header>
    <section class="charname">
        <label for="charname">Character Name</label>
        <input name="charname" value="@Character.Name"/>
    </section>
    <section class="misc">
        <ul>
            <li>
                <label for="classlevel">Class & Level</label>
                <input name="classlevel" placeholder="@Character.Class 2"/>
            </li>
            <li>
                <label for="background">Background</label>
                <input name="background" placeholder="@Character.Background"/>
            </li>
            <li>
                <label for="playername">Player Name</label>
                <input name="playername" placeholder="Player McPlayerface">
            </li>
            <li>
                <label for="race">Race</label>
                <input name="race" placeholder="@Character.Race"/>
            </li>
            <li>
                <label for="alignment">Alignment</label>
                <input name="alignment" placeholder="@Character.Alignment"/>
            </li>
            <li>
                <label for="experiencepoints">Experience Points</label>
                <input name="experiencepoints" placeholder="@Character.Xp"/>
            </li>
        </ul>
    </section>
</header>
<main>
<section>
    <section class="attributes">
        <div class="scores">
            <ul>
                @foreach (var a in Character.Abilities) {
                    <li>
                        <div class="score">
                            <label for="@a.Name">@a.Name</label>
                            <input name="@a.Name" value="@a.AbilityScore"/>
                        </div>
                        <div class="modifier">
                            <input name="<%= attr %>mod" placeholder="+0"/>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="attr-applications">
            <div class="inspiration box">
                <div class="label-container">
                    <label for="inspiration">Inspiration</label>
                </div>
                <input name="inspiration" type="checkbox"/>
            </div>
            <div class="proficiencybonus box">
                <div class="label-container">
                    <label for="proficiencybonus">Proficiency Bonus</label>
                </div>
                <input name="proficiencybonus" placeholder="+2"/>
            </div>
            <div class="saves list-section box">
                <ul>
                    <% for attr in [ "Strength", "Dexterity", "Constitution", "Wisdom", "Intelligence", "Charisma" ] do
                    %>
                    <li>
                        <label for="<%= attr %>-save"><%= attr %></label>
                        <input name="<%= attr %>-save" placeholder="+0" type="text"/>
                        <input name="<%= attr %>-save-prof" type="checkbox"/>
                    </li>
                    <% end %>
                </ul>
                <div class="label">
                    Saving Throws
                </div>
            </div>
            <div class="skills list-section box">
                <ul>
                    <% for skill in [ \
                    { "name" => "Acrobatics", "attr" => "Dex"}, \
                    { "name" => "Animal Handling", "attr" => "Wis"}, \
                    { "name" => "Arcana", "attr" => "Int"}, \
                    { "name" => "Athletics", "attr" => "Str"}, \
                    { "name" => "Deception", "attr" => "Cha"}, \
                    { "name" => "History", "attr" => "Int"}, \
                    { "name" => "Insight", "attr" => "Wis"}, \
                    { "name" => "Intimidation", "attr" => "Cha"}, \
                    { "name" => "Investigation", "attr" => "Int"}, \
                    { "name" => "Medicine", "attr" => "Wis"}, \
                    { "name" => "Nature", "attr" => "Int"}, \
                    { "name" => "Perception", "attr" => "Wis"}, \
                    { "name" => "Performance", "attr" => "Cha"}, \
                    { "name" => "Persuasion", "attr" => "Cha"}, \
                    { "name" => "Religion", "attr" => "Int"}, \
                    { "name" => "Sleight of Hand", "attr" => "Dex"}, \
                    { "name" => "Stealth", "attr" => "Dex"}, \
                    { "name" => "Survival", "attr" => "Wis"}, \
                    ] do
                    %>
                    <li>
                        <label for="<%= skill['name'] %>"><%= skill["name"] %> <span class="skill">(<%= skill["attr"] %>)</span></label>
                        <input name="<%= skill['name'] %>" placeholder="+0" type="text"/>
                        <input name="<%= skill['name'] %>-prof" type="checkbox"/>
                    </li>
                    <% end %>
                </ul>
                <div class="label">
                    Skills
                </div>
            </div>
        </div>
    </section>
    <div class="passive-perception box">
        <div class="label-container">
            <label for="passiveperception">Passive Wisdom (Perception)</label>
        </div>
        <input name="passiveperception" placeholder="10"/>
    </div>
    <div class="otherprofs box textblock">
        <label for="otherprofs">Other Proficiencies and Languages</label>
        <textarea name="otherprofs"></textarea>
    </div>
</section>
<section>
    <section class="combat">
        <div class="armorclass">
            <div>
                <label for="ac">Armor Class</label>
                <input name="ac" placeholder="10" type="text"/>
            </div>
        </div>
        <div class="initiative">
            <div>
                <label for="initiative">Initiative</label>
                <input name="initiative" placeholder="+0" type="text"/>
            </div>
        </div>
        <div class="speed">
            <div>
                <label for="speed">Speed</label>
                <input name="speed" placeholder="30" type="text"/>
            </div>
        </div>
        <div class="hp">
            <div class="regular">
                <div class="max">
                    <label for="maxhp">Hit Point Maximum</label>
                    <input name="maxhp" placeholder="10" type="text"/>
                </div>
                <div class="current">
                    <label for="currenthp">Current Hit Points</label>
                    <input name="currenthp" type="text"/>
                </div>
            </div>
            <div class="temporary">
                <label for="temphp">Temporary Hit Points</label>
                <input name="temphp" type="text"/>
            </div>
        </div>
        <div class="hitdice">
            <div>
                <div class="total">
                    <label for="totalhd">Total</label>
                    <input name="totalhd" placeholder="2d10" type="text"/>
                </div>
                <div class="remaining">
                    <label for="remaininghd">Hit Dice</label>
                    <input name="remaininghd" type="text"/>
                </div>
            </div>
        </div>
        <div class="deathsaves">
            <div>
                <div class="label">
                    <label>Death Saves</label>
                </div>
                <div class="marks">
                    <div class="deathsuccesses">
                        <label>Successes</label>
                        <div class="bubbles">
                            <% for i in [1,2,3] do
                            %><input name="deathsuccess<%= i %>" type="checkbox"/>
                            <% end %>
                        </div>
                    </div>
                    <div class="deathfails">
                        <label>Failures</label>
                        <div class="bubbles">
                            <% for i in [1,2,3] do
                            %><input name="deathfail<%= i %>" type="checkbox"/>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="attacksandspellcasting">
        <div>
            <label>Attacks & Spellcasting</label>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Atk Bonus</th>
                    <th>Damage/Type</th>
                </tr>
                </thead>
                <tbody>
                <% for i in [1,2,3] do
                %>
                <tr>
                    <td>
                        <input name="atkname<%= i %>" type="text"/>
                    </td>
                    <td>
                        <input name="atkbonus<%= i %>" type="text"/>
                    </td>
                    <td>
                        <input name="atkdamage<%= i %>" type="text"/>
                    </td>
                </tr>
                <% end %>
                </tbody>
            </table>
            <textarea></textarea>
        </div>
    </section>
    <section class="equipment">
        <div>
            <label>Equipment</label>
            <div class="money">
                <ul>
                    <% for type in ["cp", "sp", "ep", "gp", "pp"] do
                    %>
                    <li>
                        <label for="<%= type %>"><%= type %></label>
                        <input name="<%= type %>"/>
                    </li>
                    <% end %>
                </ul>
            </div>
            <textarea placeholder="Equipment list here"></textarea>
        </div>
    </section>
</section>
<section>
    <section class="flavor">
        <div class="personality">
            <label for="personality">Personality</label>
            <textarea name="personality"></textarea>
        </div>
        <div class="ideals">
            <label for="ideals">Ideals</label>
            <textarea name="ideals"></textarea>
        </div>
        <div class="bonds">
            <label for="bonds">Bonds</label>
            <textarea name="bonds"></textarea>
        </div>
        <div class="flaws">
            <label for="flaws">Flaws</label>
            <textarea name="flaws"></textarea>
        </div>
    </section>
    <section class="features">
        <div>
            <label for="features">Features & Traits</label>
            <textarea name="features"></textarea>
        </div>
    </section>
</section>
</main>
</div>
</ChildComponent>
</DataInitializer>


@code {

    [Parameter]
    public int CharacterId { get; set; }

    private Character? Character { get; set; }

    protected override async Task OnInitializedAsync() {
        Character = await _characterRepository.ReadAsync(CharacterId);
    }

}