@page "/spells"
@using Model.Entities
@using Domain.Repositories.Interfaces
@using Domain.Extensions
@inject ISpellRepository _spellRepository;
@inject NavigationManager _navigationManager;

<div class="row w-50 m-auto">
    <h1>Spells</h1>
    <hr style="height: 3px;"/>
</div>

<DataInitializer Data="@SpellList">
    <ChildComponent>
        <div class="row w-50 m-auto">
            @foreach (var spell in SpellList)
            {
                <div class="col-md-4 p-1">
                    <RadzenCard style="cursor: pointer;" class="h-100" @onclick="@(_ => _navigationManager.NavigateTo($"/spells/{spell.Name}"))">
                        <h2 class="m-0">@spell.Name</h2><hr/>
                        <div>
                            <b>Level: </b>@(spell.Level)
                        </div>
                        <div>
                            <b>Range: </b>@(spell.Range)
                        </div>
                        <div>
                            <b>Duration: </b>@(spell.Duration)
                        </div>
                    </RadzenCard>
                </div>
            }
        </div>
    </ChildComponent>
</DataInitializer>


@code {
    public List<Spell> SpellList { get; set; }

    protected override async Task OnParametersSetAsync(){
        SpellList = await _spellRepository.ReadAsync();
    }

}